bcrypt==3.1.0
cffi==1.7.0
defusedxml==0.4.1
Django==1.9.7
django-bootstrap3==7.0.1
django-custom-user==0.6
fuzzywuzzy==0.11.1
neo4jrestclient==2.1.1
oauthlib==1.1.2
popen==0.1.20
psycopg2==2.6.2
pycparser==2.14
PyJWT==1.4.1
pymongo==3.3.0
python-social-auth==0.2.19
python3-openid==3.0.10
requests==2.10.0
requests-oauthlib==0.6.2
six==1.10.0
tweepy==3.5.0
