{% extends 'wafwebapp/layout.html' %}

{% block title %}Search{% endblock %}

{% block content %}

  <header class="container">
    <section class="content">
		<h1>Search for your flight deals</h1>
      		<p class="sub-title"><strong>Wait and fly away</p>
                    <div class="container">
                      <div class="row">
                          
                          <div class="span4">
                                <form method="get" action="/waf/results/" class="form-inline" >
                                    <input name="departure" class="form-control" type="text"  placeholder="Departure" >
                                    <input name="arrival" class="form-control" type="text"  placeholder="Arrival">
                                    <button type="submit" class="btn btn-primary"> <i class="icon-search icon-white"></i></button>
                                </form>
                            </div>
                        
                        
                      </div><!-- /.row -->
                    </div>

    </section>
  </header>
{% endblock %}

{% block script %}
<script>
  
</script>
{% endblock %}