{% extends 'wafwebapp/layout.html' %}

{% block title %}Search{% endblock %}

{% block content %}

  <header class="container">
    <section class="content">
		<h1>Login</h1>
      		  <p>
                   <ul>
                   {% if user and not user.is_anonymous %}
                     <li>
                       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
                     </li>
                     <li>
                       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
                     </li>
                   {% else %}
                     <li>
                       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
                     </li>
                     <h1>Login with email</h1>
                     <form action="/waf/auth/" method="post">{% csrf_token %}
                        <label for="username">User name:</label>
                        <input type="text" name="username" value="" id="username">
                        <label for="password">Password:</label>
                        <input type="password" name="password" value="" id="password">

                        <input type="submit" value="login" />
                        
                      </form>
                      <h2>Register</h2>
  
                      {% for field in regform %}
                        {{field.error}}

                      {% endfor %}
                      
                      <form action="/waf/registration/" method="post">
                      {% csrf_token %}
                        
                    {{ regform.as_p }}
                        
                      <input type="submit" value="Register" />
                        
                      </form>
                   {% endif %}
                   </ul>
                 </p>
                 </div>
                 

    </section>
  </header>
{% endblock %}

{% block script %}
<script>
  
</script>
{% endblock %}